<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.edu.ufcg.osindico">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeSyndic">

        <activity android:name=".visitors_list.ui.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".loginUser.ui.LoginUserActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/FullscreenTheme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".QRCodeReader.ReaderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".registerDweller.ui.RegisterDwellerActivity" />
        <activity
            android:name=".registerSyndic.ui.RegisterSyndicActivity"
            android:theme="@style/AppThemeSyndic" />
        <activity
            android:name=".registerCondo.ui.RegisterCondoActivity"
            android:theme="@style/AppThemeSyndic" />
        <activity android:name=".dwellerRequests.ui.RequestsDwellersActivity" />
        <activity android:name=".condominium_rules.ui.CondominiumRulesActivity" />
        <activity android:name=".registerRegraSyndic.ui.RegisterRegraActivity" />
        <activity android:name=".allow_visitors.ui.AllowVisitorsActivity"/>

        <activity android:name=".base.BaseActivity"></activity>

        <activity
            android:name=".navigationDweller.ui.NavigationDwellerActivity"
            android:label="@string/title_activity_navigation_dweller"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".navigationSyndic.ui.NavigationSyndicActivity"
            android:label="@string/title_activity_navigation_syndic"
            android:theme="@style/NoActionBarThemeSyndic" />

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

    </application>

</manifest>