<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.edu.ufcg.osindico">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeSyndic">
        <activity android:name=".loginUser.ui.LoginUserActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QRCodeReader.ReaderActivity"
            android:theme="@style/NoActionBarTheme"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".registerDweller.ui.RegisterDwellerActivity" />
        <activity android:name=".registerSyndic.ui.RegisterSyndicActivity" />
        <activity android:name=".registerCondo.ui.RegisterCondoActivity" />
        <activity android:name=".homeDweller.ui.DwellerHomeActivity" />
        <activity android:name=".homeSyndic.ui.SyndicHomeActivity"/>
        <activity android:name=".requests_residents.ui.RequestsResidentsActivity" />
        <activity android:name=".residentDetails.ui.ResidentDetailsActivity" />
        <activity android:name=".registerRegraSyndic.ui.RegisterRegraActivity"
            android:theme="@style/AppTheme.TransNav">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>></activity>
        <activity android:name=".condominium_rules.ui.CondominiumRulesActivity"/>

        <service android:name=".service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service android:name=".service.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"></action>
            </intent-filter>
        </service>
    </application>

</manifest>